/* TODO Add site wide styles */
#root {
  font-family: 'georgia';
}

body{
  padding: 10px;
}

.form-outer-container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 25px;
}

.form-field-label {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.form-field {
  width: 500px;
  height: 20px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid lightgrey;

}

.errorMessageContainer {
  display: flex;
  color: red;
}

body {
  margin: 0;
}

.form-button {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 4px;
  height: 42px;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
}

.form-header {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.small-text {
  font-size: 13px;
  font-weight: 400;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.create-shop-button {
  display: flex;
  justify-content: center;
}


/* Shops CSS */

.shop-card-img {
  width: 200px;
  height: 210px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid rgb(215, 213, 213);
  border-radius: 5px;
}

.shop-page-img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid rgb(215, 213, 213);
  border-radius: 5px;
}
